#header {
    display: flex;
    width: 100%;
    margin-bottom: 150px;
    justify-content: space-between;
    padding: 10px 150px;
}

#view-high-scores {
    color: var(--info);
    cursor: pointer;
}

#view-high-scores:hover {
    opacity: 50%;
}

main {
    display: flex !important;
    justify-content: center;
}

#main-card {
    width: 80%;
}

#main-card-text {
    font-size: 24px;
}

.card-body {
    text-align: center;
}

#question-card {
    display: none;
}

#game-over-card {
    display: none;
}

#high-score-card {
    display: none;
    margin-top: 175px;
}

@media screen and (max-width: 1100px) {
    #question-container {
        width: 385px;
    }

    #first-answer-btn {
        width: 100%;
        margin: 10px 0;
    }

    #second-answer-btn {
        width: 100%;
        margin: 10px 0;
    }
    #third-answer-btn {
        width: 100%;
        margin: 10px 0;
    }
    #fourth-answer-btn {
        width: 100%;
        margin: 10px 0;
    }
}