#header {
    display: flex;
    width: 100%;
    margin-bottom: 150px;
    justify-content: space-between;
    padding: 10px 150px;
}

main {
    display: flex !important;
    justify-content: center;
}

#main-card-text {
    font-size: 24px;
}

.card-body {
    text-align: center;
}

#question-card {
    display: none;
}

#game-over-card {
    display: none;
}

#high-score-card {
    display: none;
}